<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-ios-set-non-exempt-encryption" version="0.0.1">
    <name>Non exempt encryption</name>
    <description>This plugin sets ITSAppUsesNonExemptEncryption value *-Info.plist file</description>
    <license>BSD-3</license>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <!-- ios -->
    <platform name="ios">
        <config-file target="*-Info.plist" parent="*">
            <key>ITSAppUsesNonExemptEncryption</key>
            <false/>            
        </config-file>
    </platform>
</plugin>